body {
  /* Full screen width and height */
  width: 100%;
  min-height: 100vh;
    
  /* Centers the container in the middle of the screen */
  display: flex;
  justify-content: relative;
  align-items: relative;
    
  margin: 0;
  background-color: rgb(30, 226, 233);
}

#container {
  perspective: 40px;
  display:inline-block;
  margin:0px 0px 1px 0px;
  padding:10px;
}

#inner {
  width: 20em;
  height: 18em;
  background-color: white;
}