body {
  padding: 20px;
}

.project-container {
  width: 700px;
  height: 300px;
  text-align: center;
  background-color:  rgb(70,198,233);  
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center center;
}

.projects {
  text-align: center;
  padding: 20px;
  resize: both;
  position: relative;
  height: 300px;
}

.projects img {
  padding: 5px;
  resize: both;
  position: relative;
  height: 60px;
}

.projects p {

}

.projects a {

}

.sideNav {
    height: 100%;
    width: 130px;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(2, 12, 15); 
}

.sideNav ul {

}

.sideNav ul li {
    list-style: none;

}

.sideNav a {
    font-size: 20px;
    color: rgb(196, 227, 240);
    text-decoration: none;
}

.main {
    padding: 15px;
    background-color:  rgb(70,198,233); 
    height: 100%;
    width: 90%;
    z-index: -1;
    top: 0;
    left: 10%;
    position: fixed;
}
.main h2 {
    width: 75%;
    font-family: 'Gotham', 'Proxima Nova', 'Montserrat';
    padding: 20px 20px 20px 12%;
    font-size: 35px;
}

.main p {
    width: 75%;
    font-family: 'Gotham', 'Proxima Nova', 'Montserrat';
    padding: 20px 20px 20px 12%;
    font-size: 20px;
}

.main address {
    width: 75%;
    font-family: 'Gotham', 'Proxima Nova', 'Montserrat';
    padding: 20px 20px 20px 12%;
    font-size: 20px;
}

.main a{
    width: 75%;
    font-family: 'Gotham', 'Proxima Nova', 'Montserrat';
    padding: 20px 20px 20px 12%;
    font-size: 20px;
}

.project {
  height: 0;
  padding-bottom: 70%;
  position: relative;
}

.pChild {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}