.sideNav {
    height: 100%;
    /* width: 15%; */
    width: 130px;
    z-index: 1;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgb(2, 12, 15); 
    /* or #7AD7F0 */
}

.sideNav ul {
    /* width: 160px; */

}

.sideNav ul li {
    list-style: none;
    /* width: 160px; */

}

.sideNav a {
    /* display: block; */
    /* padding: 5px 5px 5px 5px; */
    /* align-self: auto; */
    /* width: 160px; */
    font-size: 20px;
    color: rgb(196, 227, 240);
    /* background-color:  */
    text-decoration: none;
}

.main {
    padding: 15px;
    background-color:  rgb(70,198,233); 
    height: 100%;
    width: 90%;
    z-index: -1;
    top: 0;
    left: 10%;
    /* margin: 0; */
    /* left: 10%; */
    position: fixed;
}
.main h2 {
    width: 75%;
    font-family: 'Gotham', 'Proxima Nova', 'Montserrat';
    padding: 20px 20px 20px 12%;
    font-size: 35px;
}

.main p {
    width: 75%;
    font-family: 'Gotham', 'Proxima Nova', 'Montserrat';
    padding: 20px 20px 20px 12%;
    font-size: 20px;
}